<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VendorMaintenance.Properties.Settings.PayablesConnectionString"
            connectionString="Data Source=localhost\sqlexpress;Initial Catalog=Payables;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>